<%
const PAGE_NAME = 'works-list';
%>
<%- include('./includes/common/_head', {PAGE_NAME: PAGE_NAME}); %>
<%- include('./includes/common/_header'); %>
<%- include('./includes/common/_globalNav'); %>
<main class="l-main">
    <%- include('./includes/common/_mainHead', {H1: "職歴一覧", TEXT:"WORKS LIST", TYPE:"LIST", ANC: "./works-register.html"}); %>
    <div class="l-main__body">
        <div class="c-pager c-pager--pc">
            <%- include('./includes/common/_pagerCount'); %>
            <%- include('./includes/common/_pagerList'); %>
        </div>
        <ul class="c-list">
            <% for(let i = 1; i <= 10; i++){ %>
                <li class="c-card js-parentSlide">
                    <div class="c-card__content js-handleSlide">
                        <div class="c-card__body">
                            <p class="c-card__time">
                                <time datetime="2024-06-13">2024-06-13</time>
                                <span class="c-label">更新</span>
                            </p>
                            <h2 class="c-card__title">株式会社〇〇〇〇</h2>
                        </div>
                        <div class="c-card__foot">
                            <div class="c-card__btn">
                                <a href="">
                                    <svg width="17" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <use href="./img/symbol/control.svg#edit"></use>
                                    </svg>
                                    編集
                                </a>
                            </div>
                            <div class="c-card__btn">
                                <a href="./department-list.html">
                                    <svg width="17" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <use href="./img/symbol/control.svg#group"></use>
                                    </svg>
                                    所属
                                </a>
                            </div>
                            <div class="c-card__btn">
                                <a href="./career-list.html">
                                    <svg width="17" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <use href="./img/symbol/control.svg#manager"></use>
                                    </svg>
                                    役職
                                </a>
                            </div>
                        </div>
                        <div class="c-slide c-slide--delete js-targetSlide">
                            <button class="js-handleDelete">
                                <svg width="17" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <use href="./img/symbol/control.svg#delete"></use>
                                </svg>
                                削除
                            </button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
        <div class="c-pager--end">
            <%- include('./includes/common/_pagerList'); %>
        </div>
    </div>
    <section id="deleteModal" class="c-modal">
        <div class="c-modal__content js-targetDeleteModal">
            <div class="c-modal__head">
                <h2 class="c-modal__title c-modal__title--delete">
                    <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg">
                        <use href="./img/symbol/control.svg#delete"></use>
                    </svg>
                    削除
                </h2>
                <button class="c-close js-hideModal"></button>
            </div>
            <div class="c-modal__body">
                <div class="c-info">
                    <h3 class="c-info__title">WEBプログラマー応募用（フロント）</h3>
                    <p class="c-info__note">※この操作は元に戻せません。本当に削除してもよろしいですか？</p>
                </div>
            </div>
            <div class="c-modal__foot">
                <div class="c-btn c-btn--cansel">
                    <button class="js-hideModal">キャンセル</button>
                </div>
                <div class="c-btn c-btn--delete">
                    <button class="js-exportReport">削除する</button>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./includes/common/_footer'); %>
